description = "Default layout"
==
 
 {% partial 'site/head' %}

    <body>
        <!-- Header -->
        <header id="layout-header">
            {% partial 'site/header' %}
        </header>
        <div id="swup">

        <!-- Content -->
         {% if viewBag.extras[0].featuredimage %} 
         <div class="mb-5 parallax" id="masthead-image" data-image-src="{{ viewBag.extras[0].featuredimage | media }}"> 
          {% else %}
         <div class="mb-5 parallax" id="masthead-image" style="background-image: url('{{ 'assets/images/background.jpg'|theme }}');">
          {% endif %} 
            <div id="headlines">
                <h1>{{this.page.title}}</h1>
                <h2>{{this.page.description}}</h2>
            </div>
        </div>

       <div class="body-bg pt-5">
          {% page %}
        </div>
       
        </div>
        <!-- Footer -->
        {% partial 'site/footer' %}
        


    </body>
</html>